<mat-sidenav-container fullscreen>
    <mat-sidenav>
        <button mat-button (click)="this.toggle()">
            <mat-icon>close</mat-icon>
        </button>
    </mat-sidenav>
    <mat-sidenav-content fxLayout="column">
        <mat-toolbar>
            <div fxFlex>
                <button mat-button (click)="this.toggle()">
                    <mat-icon>menu</mat-icon>
                </button>
            </div>
            <mat-label fxFlexAlign="center" i18n>app.label</mat-label>
            <div fxFlex>
            </div>
        </mat-toolbar>
        <div fxFlex>
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>