<mat-sidenav-container fullscreen>
    <mat-sidenav>
        <div fxLayout="column">
            <button mat-button (click)="this.toggle()">
                <mat-icon>close</mat-icon>
            </button>
            <button mat-button (click)="this.swagger()">
                <div fxLayoutAlign="space-between center">
                    <mat-icon svgIcon="api"></mat-icon>
                    <mat-label translate fxFlex>menu.swagger</mat-label>
                </div>
            </button>
            <button mat-button (click)="this.batch()">
                <div fxLayoutAlign="space-between center">
                    <mat-icon svgIcon="briefcase-clock"></mat-icon>
                    <mat-label translate fxFlex>menu.batch</mat-label>
                </div>
            </button>
        </div>
    </mat-sidenav>
    <mat-sidenav-content fxLayout="column">
        <mat-toolbar>
            <div fxFlex>
                <button mat-button (click)="this.toggle()">
                    <mat-icon>menu</mat-icon>
                </button>
            </div>
            <mat-label fxFlexAlign="center" translate>app.label</mat-label>
            <div fxFlex>
            </div>
        </mat-toolbar>
        <div fxFlex>
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>